@media only screen and ( max-width: 600px ){
    /* Navbar */
    nav{
        overflow: hidden;
    }
    .navigation{
        display: none;
    }
    input.input-text-home{
        width: 100%;
    }
    .login{
        display: none;
    }
    /* Card */
    .card-container,.card-container.view{
        max-width: 85%;
    }
    .card{
        width: 100%;
    }
    .card-image{
        height: 150px;
    }
    /* footer */
    .wrapper-footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}