/* NAVBAR */
nav{
    box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,.2);
    background-color: white;
}

/* Bagian Kiri */
.section-left{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .container .logo{
    padding: 10px;
    font-size: 32px;
}
.logo span:nth-child(1){
    color: var(--blue);
    font-family: var(--mochiy);
    
}
.logo span:nth-child(2){
    color: var(--black);
    font-family: var(--mochiy);
    font-weight: bold;
}
ul.ul-home-list{
    list-style: none;
    display: flex;
    margin-left: 40px;
    color: var(--blue);
    font-size: 20px;
}
li.li-home-list{
    margin-right: 20px;
    position: relative;
}
/* Bagian kanan */
.section-right{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
input.input-text-home{
    width: 250px;
    height: 30px;
    outline: none;
    border-radius: 20px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    box-sizing: border-box;
    text-align: center;
    transition: ease-in .2s;
}
.login{
    position: relative;
}
.img-thumb img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/* Main */
main{
    display: flex;
    flex-direction: column;
}
/* Card Box */
#card-box{
    display:flex;
    justify-content: center;
    padding: 20px;
}
.main-container{
    background-color: white;
    padding: 10px;
}
.card-section{
    position: relative;
}
.viewall{
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--blue)
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    min-width: 150px;
    min-height: 250px;
    max-width: 89%;
    margin: auto;
    box-sizing: border-box;
}
.card-container.view{
    max-width: 780px;
}
.card-container a {
    margin: 20px;
}
.card{
    width: 150px;
    /* height: 250px; */
    /* margin:20px; */
    border-radius: 5%;
}
.card-image{
    position: relative;
    width: inherit;
    height: 200px;
    background-image: url("../img/konosuba.jpg");
    background-size: cover; 
    background-position: center;
}
.card-cover{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.5);
    color:whitesmoke;
    font-size: 13px;
    position:absolute;
    display: none;
}
.card-country{
    position: absolute;
    right: 0;
    margin: 5px;
}
.card-country img{
    width: 24px;
    height: 24px
}
.card-rating{
    padding: 5px;
    border-top-right-radius: 20%;
    color:white;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
}
.card-desc{
    padding:5px;
}
/* Footer */
footer{
    height: 150px;
    padding-top: 20px;
    margin-top: 20px;
    background-color: white;
}
footer .section-left{
    flex-direction: column;
    align-items: unset;
    flex-grow: unset;
}
footer .section-right{
    align-items: unset;
}
footer .logo{
    margin: 10px 0;
    font-size: 20px;
}
footer #search{
    width: 100%;
}
.disclaimer{
    font-size: 13px;
    color: #323232;
}
footer ul {
    list-style: none;
}
footer li{
    margin: 4px 0;
    color: var(--blue)
}
.wrapper-footer{
    width: 80%;
    margin: auto;
    display: flex;
}