<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= dir %>/asset/css/init.css">
    <link rel="stylesheet" href="<%= dir %>/asset/css/style.css">
    <link rel="stylesheet" href="<%= dir %>/asset/css/animation.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>HOME</title>
</head>
<body>
    <nav>
        <div class="container">
            <div class="section-left">
                <div class="logo">
                    <span>Otaku</span><span>Read</span>
                </div>
                <div class="navigation">
                    <ul class="ul-home-list">
                        <li class="li-home-list dropdown-act">
                            <a href="/">Home</a>
                            <div class="dropdown">Home</div>
                        </li>
                        <li  class="li-home-list dropdown-act">
                            <a href="#">Favorite</a>
                            <div class="dropdown">Favorite</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section-right">
                <form action="get">
                    <input type="text" name="search" id="search" class="input-text-home" placeholder="Cari Novelmu Disini">
                </form>
                <div class="login dropdown-act">
                     <div class="img-thumb">

                    </div>
                    <div class="dropdown">Login</div>
                </div>
            </div>
        </div>
    </nav>
    <%- body %>
</body>
</html>