<main>
    <section id="card-box">
        <div class="main-container">
            <div id="update" class="card-section">
                <div class="card-container view">       
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    var cardUpdate = document.querySelector("#update .card-container");
    var cardUpdateObject = `<a href="/novel/Konosuba v1" target="_blank"><div class="card">
                        <div class="card-image">
                            <div class="card-country">
                                <img src="../asset/country/japan.png" alt="">
                            </div>
                            <div class="card-rating">
                                <p>7.5 <i class="bi bi-star-fill" style="color:gold"></i></p>
                            </div>
                            <div class="card-cover updated">
                                <h3>Sinopsis:</h3>
                                <p>
                                    Seri anime ini mengisahkan seorang otaku sekaligus hikkikomori bernama Kazuma Satou. Sehari-hari Kazuma menghabiskan harinya hanya...</p>
                            </div>
                        </div>
                        <div class="card-desc">
                            <div class="card-title">
                                <p>Kono Subara</p>
                            </div>
                            <div class="card-ch">
                                <p>
                                    <i class="bi bi-book-half" style="color:dodgerblue"></i>Complete
                                </p>
                            </div>
                        </div>
                    </div></a>`;
        
    appendMany(cardUpdateObject,5,cardUpdate)
    
    function appendMany(node, much, container){
        var nodes = "";

        for (let i = 0; i < much; i++) {
            nodes += node.replace("Ch. 5", "Ch." + (much - i))
        }
            container.innerHTML = nodes
        }  
</script>